extends layout/main
block variables
    - var pagetitle = '123'
    - var youAreUsingPug =  true
block content
    h1.title Pug - node template
    #container.col
        if youAreUsingPug
            p You are amazing
        else
            p Get on it
        p.
            pug hello
            1234pug
block script
