block variables
doctype html
html(lang="en")
    head
        title= pagetitle
        link(rel="stylesheet" href="style.scss")
    body
        include ../modules/header
        block content
        block script